<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.6.0/remixicon.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Врачебные советы</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <section class="container">
      <h2 class="header">10 советов для здоровой и долгой жизни</h2>
      <br>
      <div class="text1">
        <p>
          Что вы предпринимаете для вашей долгой жизни и здоровья для организма? Прочтите и обратите внимание на эти простые, но важные для вашего здоровья советы. Если ими воспользоваться, тогда вы достигнете невероятных результатов в улучшении здоровья и самочувствия.<br>
<br>
          1. Сон очень важен для здоровья человека<br>
          Сон — это естественный процесс, который дает отдохнуть вашим мозгам и физическому состоянию всего организма. Ученые всего мира, исследующие это явление, пришли к выводу, что человек в среднем спить треть своей жизни. Допустим, если вы будете жить 95 лет, то вы проспите примерно 32 года. Залог вашего здоровья — это полноценный ночной сон, который пополнит ваш организм бодростью и удвоит ваши силы. Чтобы сон был полезным и полноценным, важно ложиться не позднее 10 часов вечера и вставать примерно в 6 утра.<br>
<br>
<div class="img-2rd">
<img src="{{ url_for('static', filename='images/sleep.png') }}" />
          2. Утром выпевайте стакан теплой воды<br>
          Сразу после ночного сна нужно выпить слегка теплую воду — 1 стакан. Вода вас взбодрит, выведет шлаки, которые накопились во время сна и подготовит ваш желудок к приёму пищи, к тому же она разжижает кровь в организме.<br>
          <br>
          <img src="{{ url_for('static', filename='images/water.jpg') }}" />
          3. Утренняя зарядка<br>
          Большинству людей утром некогда заниматься зарядкой. И это понятно, сейчас очень активный образ жизни у большей части населения. Однако, если вовремя ложиться и рано вставать, то время появится. Впрочем, даже самые ленивые из нас всегда могут найти 5-10 минут, чтобы выполнить 3 упражнения: хорошенько потянуться, сделать наклоны в стороны и приседания. Это простая зарядка может проснуться, взбодриться, быть активными и бодрыми весь день.<br>
          <br>
          <img src="{{ url_for('static', filename='images/zar.jpg') }}" />
          4. Продукты, которые дают энергию весь день<br>
          К таким продуктам относятся: яйца, молоко и молочные, продукты с большим количеством жира (бекон, масло сливочное), обычный хлеб (лучше отрубной), а также фрукты и соки. Все перечисленные продукты, если некоторые употреблять с утра, снабдят организм белком, жиры усвоятся организмом за весь день и состояние вашего здоровья будет в норме.<br>
          <br>
          <img src="{{ url_for('static', filename='images/milk.jpg') }}" />
          5. Съешьте завтрак сами<br>
          После того, как утром вы выпили стакан теплой воды и разбудили свой желудочно-кишечный трак, через 20 минут начинайте завтракать. Завтракать нужно в обязательном порядке, так как вы получаете заряд организма на весь день. У людей, которые не завтракают может снизится иммунитет, ухудшится настроение и физическая активность. Если совсем не хочется завтракать, сделайте себе смузи. Такой завтрак отлично питает и насыщает витаминами ваш организм.<br>
          <br>
          <img src="{{ url_for('static', filename='images/smuzi.jpg') }}" />
          6. Ежедневная прогулка<br>
          Все мы прекрасно знаем, что движение — это хорошо. Вы должны двигаться ежедневно как можно больше и даже если на работу или на учебу вам приходится добираться на автобусе, то пройдите пешком хотя бы одну остановку – для вашего здоровья это только на пользу. Старайтесь вместо лифта, ходить по ступенькам, вместо сидения у компьютера, потанцевать и т.д. Вечером также нужно прогуляться хотя бы полчаса. Старайтесь почаще бывать на природе, она помогает восстанавляивать физические и душевные силы.<br>
          <br>
          <img src="{{ url_for('static', filename='images/progulka.jpg') }}" />
          7. Общественные связи<br>
          Если вы трудитесь в коллективе или обучаетесь в вузе, то с общением, как правило, не возникает проблем. Но есть люди, которые проводят большую часть времени дома, и для них крайте важно поддерживать общественные связи, как можно чаще выходить в люди, знакомиться с новыми людьми, общаться на разные темы. Также важно поддерживать хорошие отношения со своими родными, юлизкими и друзьями. Не стесняйтесь лишний раз им позвонить, пригласить в гости, на прогулку или на какое-то мероприятие.<br>
          <br>
          <img src="{{ url_for('static', filename='images/cafe.jpg') }}" />
          8. Найдите свой спорт<br>
          Многие люди бояться слова спорт, упражнения, физическая активность, а ведь без этого сложно оставаться здоровым. Но спорт может быть приятным, главное, найти то, что будет доставлять вам удовольствие. Не любите спортзалы и тренажеры? Попробуйте йогу, плавание или зумбу. Не бойтесь экспериментировать!<br>
          <br>
          <img src="{{ url_for('static', filename='images/sport.jpg') }}" />
          9. Найдите новое любимое занятие<br>
          Иногда очень хочется найти любимое занятие для души. Подумайте, пофантазируйте и решайте: чем бы вы хотели заняться. Новое занятие принесет вам силы, мотивацию и сделает вашу жизнь наполненной.<br>
          <br>
          <img src="{{ url_for('static', filename='images/drawing.jpg') }}" />
          10. Любите себя и жизнь<br>
          Как важно любить себя, ведь если вы балуете себя, любите, заботитесь о себе, то и Вселенная отвечает вам взаимностью. Если этого нет, то обязательно научитесь любить себя и ценить жизнь, тогда вы будете счастливы.<br>
          <br>
          <img src="{{ url_for('static', filename='images/love.jpg') }}" />
          Вот такие простые советы помогут вам жить здоровой и интересной жизнью.
        </p>
      </div>
    </div>
  </div>
  </section>
  <footer class="container">
    <div class="column">
      <div class="logo">
        <img
          src="{{ url_for('static', filename='images/healthlogo.png') }}"
          alt="Image Description"
        />
      </div>
      <p>Оказание платных медицинских услуг в Москве.</p>
      <div class="socials">
        <a href="#"><i class="ri-youtube-line"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-twitter-line"></i></a>
      </div>
    </div>
    <div class="column">
      <h4>Компания</h4>
      <a href="#">Бизнес</a>
      <a href="#">Партнеры</a>
      <a href="#">Сеть</a>
    </div>
    <div class="column">
      <h4>О нас</h4>
      <a href="#">Блоги</a>
      <a href="#">Каналы</a>
      <a href="#">Спонсоры</a>
    </div>
    <div class="column">
      <h4>Контакты</h4>
      <a href="#">Связь с нами</a>
      <a href="#">Политика конфиденциальности</a>
      <a href="#">Условия использования</a>
    </div>
  </footer>

  <div class="copyright">
    Авторские права. Все права защищены.
  </div>
  </body>
</html>
