<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.6.0/remixicon.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Статьи о заболеваниях</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <section class="container">
      <h2 class="header">Статьи о заболеваниях</h2>
      <br>
      <h4>Болезнь Бехтерева (анкилозирующий спондилоартрит)</h4>
      <br>
      <div class="text1">
        <p>
            Болезнь Бехтерева (анкилозирующий спондилоартрит, болезнь Мари — Штрюмпеля — Бехтерева) — хроническое заболевание межпозвонковых суставов, которое со временем приводит к их полной неподвижности (анкилозу). По статистике, болезнь развивается в основном у людей в возрасте от 20 до 40 лет, у мужчин примерно в три раза чаще, чем у женщин.
            Что такое болезнь Бехтерева
Позвоночник — это своеобразный каркас, основа скелета человека.

Он состоит из 32–34 позвонков, между которыми находятся межпозвонковые диски — полужёсткие структуры с плотным кольцом по периферии и желеобразным центром. Диски выполняют роль амортизаторов и защищают позвонки от трения при движении или статических нагрузках.

У каждого позвонка есть суставные отростки, соединённые межпозвонковыми суставами.
<br>
</p>
<div class="img-3rd">
  <img src="{{ url_for('static', filename='images/1b.jpg') }}" />
<br>
<h4>Паразитарные заболевания</h4>
<br>
<p>
    Паразитарные инфекции, или паразитозы, — заболевания, которые вызывают одноклеточные микроорганизмы, гельминты (черви) или членистоногие, проникающие в организм человека и живущие за счёт его ресурсов. Эти существа легко попадают в тело с едой, водой, при контакте с почвой или при укусе насекомого. Паразиты постепенно отравляют организм токсинами, повреждают внутренние органы, нарушают обмен веществ.
    Что такое паразитарные заболевания
На сегодняшний день известно более 300 паразитарных (или инвазивных) инфекций. Их вызывают одноклеточные организмы и черви-гельминты, которые попадают в человеческий организм и используют его как источник ресурсов, а также членистоногие — чесоточный клещ и вши, которые живут на коже и волосах.

Иногда паразитарные заболевания протекают практически бессимптомно. Но многие инфекции вызывают тяжёлые последствия: «нахлебники» нарушают обмен веществ, отравляют организм продуктами своей жизнедеятельности, разрушают ткани и внутренние органы. Некоторые паразитозы смертельно опасны. Например, от малярии — инфекции, которую переносят малярийные комары, — ежегодно умирает более 600 тыс. человек.

В России ежегодно регистрируется от 1 до 2 млн случаев паразитозов, но, по мнению врачей, в реальности этими инфекциями болеют в несколько раз чаще.
По данным ВОЗ, от паразитарных инфекций страдают 4,5 млрд человек — то есть больше половины населения Земли. Основной вклад в эту печальную статистику вносят страны с жарким климатом и регионы с низким уровнем гигиены и дефицитом питьевой воды. Их жители сталкиваются с такими опасными заболеваниями, как малярия, шистосомоз, филяриатоз. В России, как и в других странах с умеренным климатом, проблема паразитарных инфекций стоит не так остро: здесь наиболее распространены 18–20 паразитозов, которые протекают сравнительно легко и имеют благоприятный прогноз в лечении.
</p>
<img src="{{ url_for('static', filename='images/2b.jpg') }}" />
<br>
<h4>Постгерпетическая невралгия</h4>
<br>
<p>
    Если вирус герпеса 3-го типа, оставшийся в организме после ветрянки, реактивируется на фоне снижения иммунитета или некоторых хронических заболеваний, развивается опоясывающий герпес. В 10–20% случаев он может спровоцировать болезненное осложнение — постгерпетическую невралгию.
    Постгерпетическая невралгия (ПГН) — осложнение, которое развивается у 10–20% людей, перенёсших опоясывающий герпес (заболевание, вызванное реактивацией вируса герпеса 3-го типа). Как правило, возбудитель попадает в организм человека в детстве или юности, вызывая ветрянку. После того как острые проявления болезни проходят, вирус не удаляется из организма, а «засыпает», то есть переходит в латентное состояние. В таком виде он хранится в узлах нервных клеток (ганглиях), расположенных вдоль спинного мозга, или в полостях черепа.

Долгие годы вирусные частицы никак себя не проявляют: они не размножаются, не повреждают клетки организма и не провоцируют иммунный ответ. Однако при снижении иммунитета или возникновении некоторых других факторов вирус реактивируется и развивается другое заболевание, вызванное тем же возбудителем, — опоясывающий герпес. Заболевание названо так из-за характерного распределения сыпи в виде пояса вокруг туловища или лица. Оно начинается с покалывания, зуда и боли в коже, за которым следует появление красной сыпи, быстро превращающейся в группы маленьких, наполненных жидкостью пузырьков.
</p>
<img src="{{ url_for('static', filename='images/3b.jpg') }}" />
<br>
<h4>Кахексия (истощение)</h4>
<br>
<p>
    «Плоть исчезает, на её место выступает влага... плечи, ключицы, грудь, пальцы словно тают. Это состояние — лицо смерти» — так описывал кахексию, или крайнюю степень истощения, древнегреческий целитель Гиппократ. В те времена она считалась признаком скорого летального исхода. Спустя тысячелетия ситуация значительно изменилась.
    «Кахексия» (др. греч. kakos — «плохой», hexis — «состояние») — это медицинский термин, который обозначает крайнюю степень истощения. О таком состоянии говорят, когда вес снижается более чем на 30% от рекомендованного человеку определённого возраста и роста или индекс массы тела (ИМТ) составляет менее 16.

Кроме резкого похудения, у людей с кахексией уменьшается объём мышечной ткани, он снижается до критических показателей. Внешне они выглядят болезненно худыми и не могут или совсем не хотят есть. Такое истощение угрожает жизни.
</p>
<img src="{{ url_for('static', filename='images/4b.jpg') }}" />
<br>
<h4>Болезнь Кёнига</h4>
<br>
<p>
    Болезнь Кёнига — это патология, при которой участок хряща отмирает, а затем частично или полностью отделяется от кости и попадает в полость сустава, вызывая сильную боль и отёк. В большинстве случаев болезнь поражает коленный сустав, реже затрагивает локтевой, лучезапястный, голеностопный и тазобедренный.
    Болезнь Кёнига, или, как её ещё называют, рассекающий остеохондрит, — это заболевание, при котором часть хряща отмирает, затем отслаивается от кости и попадает в полость сустава, блокируя его движения. Такой эффект можно сравнить с воздействием инородного тела, которое попало в коробку передач автомобиля и заклинило её.

Впервые отслоившиеся участки хряща внутри коленного сустава обнаружил немецкий хирург профессор Франц Кёниг. Врач изучал возможные причины болезни и предположил, что спусковым крючком для её развития может стать сильная травма с отрывом хряща или же слабая травма, которая спровоцировала некроз (отмирание) субхондральной части кости. Ещё одной возможной причиной оказалось спонтанное отслоение участка хряща.
</p>
<img src="{{ url_for('static', filename='images/5b.jpg') }}" />
      </div>
    </div>
  </div>
  </section>
  <footer class="container">
    <div class="column">
      <div class="logo">
        <img
          src="{{ url_for('static', filename='images/healthlogo.png') }}"
          alt="Image Description"
        />
      </div>
      <p>Оказание платных медицинских услуг в Москве.</p>
      <div class="socials">
        <a href="#"><i class="ri-youtube-line"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-twitter-line"></i></a>
      </div>
    </div>
    <div class="column">
      <h4>Компания</h4>
      <a href="#">Бизнес</a>
      <a href="#">Партнеры</a>
      <a href="#">Сеть</a>
    </div>
    <div class="column">
      <h4>О нас</h4>
      <a href="#">Блоги</a>
      <a href="#">Каналы</a>
      <a href="#">Спонсоры</a>
    </div>
    <div class="column">
      <h4>Контакты</h4>
      <a href="#">Связь с нами</a>
      <a href="#">Политика конфиденциальности</a>
      <a href="#">Условия использования</a>
    </div>
  </footer>

  <div class="copyright">
    Авторские права. Все права защищены.
  </div>
  </body>
</html>
