<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.6.0/remixicon.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Профилактика</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <section class="container">
      <h2 class="header">Профилатика</h2>
      <br>
      <div class="text1">
        <p>
            Профилактика – это комплекс государственных, социальных и медицинских мероприятий, направленных на сохранение и укрепление здоровья граждан, воспитание здорового молодого поколения, увеличение трудового долголетия. Медицинская профилактика - комплекс мероприятий, направленных на устранение причин и условий, порождающих заболевания.
        </p>
        <div class="img-4rd">
          <img
          src="{{ url_for('static', filename='images/2a.jpg') }}"
          alt="Image Description"
        />
        <br>
        <h4>Виды профилактики</h4>
        <br>
        <p>
            Первичная профилактика (радикальная) направлена на устранение причины болезни путём улучшения условии труда и быта (оздоровление окружающей среды, организацию здорового образа жизни, гигиеническое нормирование воздействия факторов, что предусматривает либо полное устранение неблагоприятного фактора, либо его снижение до безопасного уровня). Первичная профилактика (радикальная) направлена на устранение причины болезни путём улучшения условии труда и быта (оздоровление окружающей среды, организацию здорового образа жизни, гигиеническое нормирование воздействия факторов, что предусматривает либо полное устранение неблагоприятного фактора, либо его снижение до безопасного уровня).<br>
<br>
Вторичная профилактика проводится среди внешне здоровых граждан с целью выявления преморбидных состоянии у людей, имеющих повышенный риск развития заболевании: вторичная профилактика направлена на повышение резистентности организма (лечебно-профилактическое питание, средства индивидуальной защиты, приемы безопасной жизни и работы в неблагоприятных условиях).<br>
<br>
Третичная профилактика (реабилитация) направлена на предупреждение осложнений, рецидивов уже развившихся заболеваний, перехода заболевания в хроническую форму.
<br>
Индивидуальная профилактика включает меры по предупреждению болезней, сохранению и укреплению здоровья, которые осуществляет сам человек. Практически она сводится к соблюдению норм здорового образа жизни, гигиене одежды, обуви, рациональному питанию и питьевому режиму, гигиеническому воспитанию подрастающего поколения, рациональному режиму труда и отдыха, активному занятию физкультурой и др.<br>
<br>
Общественная профилактика представляет систему социальных, экономических, законодательных, воспитательных, санитарно-технических, санитарно-гигиенических, противоэпидемических и медицинских мероприятий, планомерно проводимых государственными институтами и общественными организации с целью обеспечения всестороннего развития физических и духовных сил граждан, устранения факторов, вредно действующих на здоровье.<br>
        </p>
      </div>
    </div>
  </div>
  </section>
  <footer class="container">
    <div class="column">
      <div class="logo">
        <img
          src="{{ url_for('static', filename='images/healthlogo.png') }}"
          alt="Image Description"
        />
      </div>
      <p>Оказание платных медицинских услуг в Москве.</p>
      <div class="socials">
        <a href="#"><i class="ri-youtube-line"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-twitter-line"></i></a>
      </div>
    </div>
    <div class="column">
      <h4>Компания</h4>
      <a href="#">Бизнес</a>
      <a href="#">Партнеры</a>
      <a href="#">Сеть</a>
    </div>
    <div class="column">
      <h4>О нас</h4>
      <a href="#">Блоги</a>
      <a href="#">Каналы</a>
      <a href="#">Спонсоры</a>
    </div>
    <div class="column">
      <h4>Контакты</h4>
      <a href="#">Связь с нами</a>
      <a href="#">Политика конфиденциальности</a>
      <a href="#">Условия использования</a>
    </div>
  </footer>

  <div class="copyright">
    Авторские права. Все права защищены.
  </div>
  </body>
</html>
